
#chat{
    height: 100%;
    overflow: hidden;
}

#messages{
    height: 90vh;
    overflow-y: hidden;
}

#chat-head{
    height: 8vh;
}

#list-messages{
    height: 74vh;
}

#new-message{
    height: 8vh;
}

.chat-online {
    color: var(--light-green);
}

.chat-offline {
    color: var(--light-red);
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid var(--light-gray) !important;
}